// Body
$body-bg: #1e0826;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$amaranth: 'amaranth', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colour Scheme

$purple: #1e0826;
$gold: #d4af37;
$light-purple: #8743a0;
$content-container: #8742a140;
